@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);


* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html,body{
  height: 100%;
  min-height: 100%;
}

app-file-upload{
  width:450px;
  display:block;
  margin:auto;
}

.dropzone .dz-preview .dz-image{
  border-radius:0px;
  background-color: #b3e5fc;
}

.dropzone .dz-preview.dz-file-preview .dz-image{
    border-radius:0px;
    background-color: #b3e5fc;
}
